
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.1);

  .header__navbar-link {
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
  }

  .header__navbar-link:hover {
    color: #B82201;
  }
}
