
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  margin-top: 11rem;

  .home__content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
  }

  h3 {
    font-size: 7rem;
    color: #333;
    span {
      color: #B82201;
    }
  }

  p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
  }

  .home__image {
    flex: 1 1 40rem;
    max-width: 800px;
    img {
      width: 90%;
      padding: 1rem;
      animation: float 3s linear infinite;
    }
  }
}
